/* ------------------------------
 * General
 ------------------------------ */

html {
    background-image: #fff;

}

body {
    color: #72797e;
    margin: 0;
    padding: 0;
    

}

/*  Global
 ------------------------------ */

.content-wrapper {
    max-width: 64em;
    margin: 0 auto;
    padding: 0 1em;


}

/* Header */
.banner {
    background: #afbac4 url(../images/mountain-lake.jpg) 
    no-repeat 50% 50% / cover;
    color: #fff;
    padding: 0 0 5rem 0;
    margin: 0 0 5rem 0;


}

.banner a {
    color: #fff;

}

.global-header {
    margin: 0 0 5rem 0;
    border-bottom: 1px solid #afbac4;
    
}

.masthead {

}


/* Footer */
.global-footer {
    background-color: #192127;
    color: #bbc1c6;
    padding: 5rem 0 5rem;

}

.global-footer a {
    color: inherit;
  
}
