/* ------------------------------
 * General
 ------------------------------ */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1.6;
    background-image: #fff;

}

body {
    font-size: 15px;
    color: #72797e;
    margin: 0;
    padding: 0;
    

}

/* =============================================
TYPOGRAFY
================================================ */

h1 {
    font-size: 4.8em;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/*  Global
 ------------------------------ */

.content-wrapper {
    max-width: 64em;
    margin: 0 auto;
    padding: 0 1em;


}

.bare-list {
    list-style-type: none;
    padding: 0;

}

/* Header */
.banner {
    background: #afbac4 url(../images/mountain-lake.jpg) 
    no-repeat 50% 50% / cover;
    color: #fff;
    padding: 0 0 5rem 0;
    margin: 0 0 5rem 0;


}

.banner a {
    color: #fff;

}

.global-header {
    margin: 0 0 5rem 0;
    border-bottom: 1px solid #afbac4;
    
}

.masthead {

}


/* Footer */
.global-footer {
    background-color: #192127;
    color: #bbc1c6;
    padding: 5rem 0 5rem;

}

.global-footer a {
    color: inherit;
  
}

.card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
    margin: 0 2rem 2rem 0;
    border-radius: 3px;
}

.card__intro {
    padding: 2em;   
}

.card__title {
    font-size: 2em;
}